<h1>What would you like to ask to your coach?</h1>

<form action="/answer" method="get">
  <div>
    <label for="question" id="question">Your question:</label>
    <input type="text" id="query" name="query">
  </div>
  <div class="button">
    <button type="submit">Send your question</button>
  </div>
</form>
